{% extends 'base.html' %}
{% block content %}

<h3 class="mb-4 text-warning">Admin Logs</h3>

<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Admin</th>
      <th>Action</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    {% for log in logs %}
    <tr>
      <td>{{ log.admin.username }}</td>
      <td>{{ log.action }}</td>
      <td>{{ log.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'core:staff_panel' %}" class="btn btn-secondary mt-3">
  Back
</a>


{% endblock %}
